In [2]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [3]:
g = np.random.default_rng(0)
months = 'Sep Oct Nov Dec Jan Feb Mar Apr May Jun'.split()

s = Series(g.integers(70, 101, 10),
          index=months)
s

Sep    96
Oct    89
Nov    85
Dec    78
Jan    79
Feb    71
Mar    72
Apr    70
May    75
Jun    95
dtype: int64

In [4]:
# get the first half of the series using slicing
a = s[:len(s)//2]
print(a)
a.mean()

Sep    96
Oct    89
Nov    85
Dec    78
Jan    79
dtype: int64

np.float64(85.4)

In [5]:
b = s[len(s)//2:]
b

Feb    71
Mar    72
Apr    70
May    75
Jun    95
dtype: int64

In [6]:
b.mean()

np.float64(76.6)

In [7]:
(b.mean() - a.mean())/a.mean() * 100

np.float64(-10.304449648711957)

In [8]:
s['Sep':'Jan']

Sep    96
Oct    89
Nov    85
Dec    78
Jan    79
dtype: int64

In [9]:
s.loc['Jan':'Mar']

Jan    79
Feb    71
Mar    72
dtype: int64

In [10]:
# s.idxmax()
# s[s.idxmax()]

s.sort_values(ascending=False)[:5]
print(s)
s.round(decimals=-1)

Sep    96
Oct    89
Nov    85
Dec    78
Jan    79
Feb    71
Mar    72
Apr    70
May    75
Jun    95
dtype: int64

Sep    100
Oct     90
Nov     80
Dec     80
Jan     80
Feb     70
Mar     70
Apr     70
May     80
Jun    100
dtype: int64

In [11]:
s.std()

np.float64(9.72967967955095)

In [12]:
g.normal(0, 10, 10).round(0)

array([  4.,  13.,   9.,  -7., -13.,  -6.,   0., -23.,  -2., -12.])

In [13]:
s1 = Series([1, 2, 3, 4], index='a b c d'.split())
s2 = Series([10, 20, 30, 40], index='a b c d'.split())
s1 + s2

a    11
b    22
c    33
d    44
dtype: int64